In [19]:
import numpy as np 
import pandas as pd

In [20]:
data = {
    "Activity": list(range(1, 28)),
    "Activity Time (mins)": [6, 10, 7, 12, 18, 8, 19, 6, 18, 15, 14, 19, 15, 9, 12, 5, 12, 11, 8, 12, 8, 17, 12, 8, 7, 12, 11],
    "Preceding Activities": [
        None, None, None, None, None, "1,3", "2,4", "3,5", "2", "8,9", "6,10", "7,8,11", "11,12", "13", "14", "6,11,14",
        "16", "16", "16", "17,19", "17,18", "20,21", "19,20", "14,22", "13,15", "3,4", "25,26"
    ]
}

In [21]:
df = pd.DataFrame(data)

In [22]:
df["Preceding Activities"] = df["Preceding Activities"].apply(lambda x: [] if pd.isna(x) else [int(i) for i in str(x).split(",")])

df.head()

   Activity  Activity Time (mins) Preceding Activities
0         1                     6                   []
1         2                    10                   []
2         3                     7                   []
3         4                    12                   []
4         5                    18                   []

# Q1 
We need to determine the maximum time assigned to any workstation after optimally distributing activities 

**Solution Approach**
we need to find the workstation with the maximum total assigned time

In [23]:
cycle_time = max(df["Activity Time (mins)"])

def assign_workstations(df, cycle_time):
    workstations = []
    remaining_tasks = df.copy()
    
    while not remaining_tasks.empty:
        workstation = []
        total_time = 0
        
        for i, row in remaining_tasks.iterrows():
            if total_time + row["Activity Time (mins)"] <= cycle_time:
                workstation.append(row["Activity"])
                total_time += row["Activity Time (mins)"]
        

        workstations.append((workstation, total_time))
        
 
        remaining_tasks = remaining_tasks[~remaining_tasks["Activity"].isin(workstations[-1][0])]

    
    return workstations

workstations = assign_workstations(df, cycle_time)


max_activity_time = max([wt[1] for wt in workstations])

print(f"Maximum activity time among workstations: {max_activity_time} minutes")

Maximum activity time among workstations: 19 minutes